body {
  height: 100%;
  margin: 0; /* body 마진 제거 */
}
.container-fluid {
  height: calc(100vh - 50px); /* 다른 요소들의 높이를 고려하여 container-fluid의 높이 설정 */
}
.container-fluid .row {
  display: flex;  /* Flexbox 레이아웃 활성화 */
  flex-direction: row;  /* 자식 요소들을 가로 방향으로 배열 */
}

#first-box,
#second-box {
  overflow-y:auto;
  height : calc(100vh - 50px);
}

.user {
  border-bottom: 1px solid #716d6d;
  padding: 10px;
  width: 95%;
}

.user_data,
#chat-box {
  height: 800px;
  overflow-y: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}

/* Firefox */
.user_data,
#chat-box {
  scrollbar-width: thin;
  scrollbar-color: #716d6d transparent;
}

/* Chrome, Safari 등 Webkit 기반 브라우저 */
.user_data::-webkit-scrollbar,
#chat-box::-webkit-scrollbar {
  width: .5em;
}

.user_data::-webkit-scrollbar-thumb,
#chat-box::-webkit-scrollbar-thumb {
  background-color: #716d6d;
}



.profile_name {
  background-color: #f8f9fa !important;
  width: 100%;
  padding: .75rem;
  border-bottom: solid #716d6d;
  border-width: .25rem;

}


.user a:hover {
  text-decoration: none;
  color: #212529;

}

.user a {
  color: #212529;

}

.user_row {
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
}

.user_row .col-3 img {
  width: 100%;
  max-width: 60px; /* 이미지 크기 조절 */
}

.user_row .col-9 {
  padding-left: 15px; /* 왼쪽 패딩 추가 */
}

.user_row .col-9 small {
  display: block; /* small 태그를 block 요소로 설정 */
  color: #888; /* 텍스트 색상 변경 */
}
<!---->

.user_chat_data {

}


.chat_section {
  padding-top: 15px;
}


.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 60%;
}

.received_withd_msg {
  float: left;
  width: auto;
}

.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 6px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: auto;
}

.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 8px 0 0;
}


.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

.sent_msg p {
  background: #050f8f none repeat scroll 0 0;
  border-radius: 6px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}

.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}

.sent_msg {
  float: right;
  max-width: 60%;
  width: auto;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  padding: 10px;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.messaging {
  padding: 0 0 50px 0;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.gray-bar {
  margin: 26px 0 26px 0;
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center; /* 텍스트 가운데 정렬 */
  display: flex; /* flexbox를 사용하여 수직, 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  height: auto;

}

.gray-bar p {
  margin: 0;
  font-size: 10pt; /* 글꼴 크기 10pt로 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
  height: auto;
}